{% extends "base.html" %}
{% block title %}Page Not Found {% endblock %}

{% block content %}
<!-- Main Content -->
<main class="main">
    <section>
        <div class="hero hero--color hero--purple hero--404">
            <div class="container">
                <h3 class="h3" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="1500">Oops 404 error</h3>
                <h1 class="js-anim h1 hero__title mt-30"> For once we’re lost for words... </h1>
                <h4 class="h3 mt-30" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2000"> Guess it’s time
                    to go <a class="text-cyan text-underline hover-yellow" href="/">home</a>
                </h4>
            </div>
        </div>
    </section>
</main>
<!-- /Main Content -->
{% endblock %}