{% extends "base.html" %}
{% block title %} Case Study Individual {% endblock %}

{% block content %}
<!-- Main Content -->
<main class="main">
    <section>
        <div class="hero hero--slider">
            <div class="swiper swiper--hero swiper-csi">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-csi__image dark-mask">
                            <img src="../static/images/AJK-outfitters-casestudy-hero-banner-2.jpg" alt="">
                        </div>
                        <div class="swiper-csi__text">
                            <div class="container">
                                <h2 class="swiper-csi__title"> AJK Outfitters Lorem </h2>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-csi__image dark-mask">
                            <img src="../static/images/AJK-outfitters-casestudy-photography.jpg" alt="">
                        </div>
                        <div class="swiper-csi__text">
                            <div class="container">
                                <h2 class="swiper-csi__title"> AJK Outfitters </h2>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-csi__image">
                            <img src="../static/images/ajk-hero-banner.jpeg" alt="">
                        </div>
                        <div class="swiper-csi__text">
                            <div class="container">
                                <h2 class="swiper-csi__title"> AJK Outfitters Green Hero Banner </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-csi__controls">
                <div class="swiper-csi-prev">
                    <div class="swiper-csi__icon">
                        <svg class="sprite-icon">
                            <use xlink:href="../static/images/svg/sprite.svg#long-arrow-right"></use>
                        </svg>
                    </div>
                    <span>Prev</span>
                </div>
                <div class="swiper-csi-next">
                    <div class="swiper-csi__icon">
                        <svg class="sprite-icon">
                            <use xlink:href="../static/images/svg/sprite.svg#long-arrow-right"></use>
                        </svg>
                    </div>
                    <span>Next</span>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="section-cols-2">
            <div class="section-cols-2__left bg-gray" data-aos="fade-in" data-aos-duration="1000">
                <h3 class="section-cols-2__title h4">AJK Outfitters is one of Australia’s leading turnkey outfitting
                    businesses, with over 15 years experience delivering tailored fitout solutions across a vast range
                    of sectors, including student accommodation, build-to-rent properties, hotel interiors, residential
                    apartments and educational facilities to name a few.</h3>
            </div>
            <div class="section-cols-2__right bg-dark" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="500">
                <div class="simple-list__services">
                    <h5 class="section-cols-2__subtitle h5">Services</h5>
                    <ul class="section-cols-2__list simple-list font-24 mt-20">
                        <li>
                            <a href="#">Branding</a>
                        </li>
                        <li>
                            <a href="#">Strategy</a>
                        </li>
                        <li>
                            <a href="#">Print collatoral</a>
                        </li>
                        <li>
                            <a href="#">Advertising</a>
                        </li>
                        <li>
                            <a href="#">Website design</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="image-section bg-white">
            <!-- Case Study Slider -->
            <div class="csi-section js-swiper-case-study-wrap">
                <div class="swiper swiper--case-study">
                    <div class="swiper-wrapper">
                        <div class="case-stud-slide swiper-slide">
                            <img src="../static/iamges/AJK-outfitters-casestudy-cap-stat-1.jpg" alt="" loading="lazy">
                        </div>
                        <div class="case-stud-slide swiper-slide">
                            <img src="../static/iamges/AJK-outfitters-casestudy-cap-stat-2.jpg" alt="" loading="lazy">
                        </div>
                        <div class="case-stud-slide swiper-slide">
                            <img src="../static/iamges/AJK-outfitters-casestudy-cap-stat-3.jpg" alt="" loading="lazy">
                        </div>
                        <div class="case-stud-slide swiper-slide">
                            <img src="../static/iamges/AJK-outfitters-casestudy-cap-stat-4.jpg" alt="" loading="lazy">
                        </div>
                        <div class="case-stud-slide swiper-slide">
                            <img src="../static/iamges/AJK-outfitters-casestudy-cap-stat-5.jpg" alt="" loading="lazy">
                        </div>
                    </div>
                </div>
                <div class="swiper--case-study-pagination"></div>
            </div>
            <!-- /Case Study Slider -->
        </div>
    </section>
    <section>
        <div class="bg-white ">
            <!-- client wants even padding on the sides and top / bottom; in order not to double the padding from this section and the previous one, pt-0 or pb-0 may be needed -->
            <div class="csi-section pt-0">
                <h3 class="h3 mb-25">The Solution</h3>
                <div class="section-cols-3">
                    <div class="section-cols-3__left" data-aos="fade-in" data-aos-duration="1000">
                        <div class="plaintext fw-500">
                            <p> What makes AJK different is that they built and control their end to end supply chain –
                                from project analysis and space planning, to procurement and manufacture to warranties
                                and after sales service. </p>
                            <p> To be approached by AJK Outfitters for their next company evolution in brand and
                                marketing was a true milestone for us. AJK have an innovative business model and to
                                enable our team to work together to bring out their true value was rewarding. The
                                strength of their brand logo meant we needed a refresh to take them through their future
                                growth with a modern, versatile, and adaptable brand. </p>
                            <p> Refreshing the logo gave AJK the opportunity to refine the brand story. The brand story
                                was deeply personal and is strongly attached to AJK’s Chinese heritage. This story
                                helped develop trust, meaning, and emotion with their clients. </p>
                            <p> “In Feng Shui, the dragon is one of 4 celestial animals and is ranked as one of the most
                                powerful symbols of Yang energy. The circle represents a moon, in Chinese tradition, the
                                full moon is a symbol of peace, prosperity, and family reunion.” </p>
                        </div>
                    </div>
                    <div class="section-cols-3__right" data-aos="fade-in" data-aos-duration="1000"
                        data-aos-delay="1000">
                        <div class="plaintext font-16 js-read-more-area js-read-more-area--1">
                            <h5> Our work together delivered on: </h5>
                            <ul>
                                <li>A brand evolution of the dragon logo, utilising the circle of the dragon. The circle
                                    embodies perfection, unity and family reunion, which are key values of AJK. We
                                    introduced a full colour palette, brand design elements, tone of voice, photography
                                    style and a complete brand guideline.</li>
                                <li>Development of a new website, including copywriting and the production of a photo
                                    shoot across 3 different locations.</li>
                                <li>Development of the Company Statement and Capability Statement to showcase AJK’s
                                    skillsets and projects. This involved all copywriting, interviewing of staff, and
                                    design and delivery of the printed documents.</li>
                                <li>Establishment of the social media strategy for the business.</li>
                                <li>Day to day management of social media profiles across Instagram and LinkedIn –
                                    including content creation, sponsored management, community engagement and sponsored
                                    ad management.</li>
                                <li>Media planning and buying across industry publications, including design of print
                                    and digital assets.</li>
                                <li>Article development for print publications and industry news sites.</li>
                            </ul>
                        </div>
                        <div class="js-read-more-btn on-mobile load-more mt-30" data-target="1">
                            <span class="more"> Read more + </span>
                            <span class="less"> Show less - </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="image-section bg-white">
            <div class="csi-section pt-0">
                <video autoplay loop muted>
                    <source src="./video/CaseStudy_WebsiteScroll_AJK_Sm.mp4" type="video/mp4">
                    <img src="../static/images/AJK-outfitters-casestudy-website-1.jpg" alt="" data-aos="fade-in"
                        data-aos-duration="1000">
                </video>
            </div>
        </div>
    </section>
    <section>
        <div class="bg-white">
            <div class="csi-section">
                <div class="image-cols">
                    <div class="image-col image-col__1" data-aos="fade-in" data-aos-duration="1000">
                        <img src="../static/images/AJK-outfitters-casestudy-social-1.jpg" alt="">
                    </div>
                    <div class="image-col image-col__2" data-aos="fade-in" data-aos-duration="1000"
                        data-aos-delay="1000">
                        <img src="../static/images/AJK-outfitters-casestudy-social-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="image-section bg-white ">
            <div class="csi-section pt-0">
                <img src="../static/images/AJK-outfitters-casestudy-brandguide.jpeg" alt="" data-aos="fade-in"
                    data-aos-duration="1000">
            </div>
        </div>
    </section>
    <section>
        <div class="image-section bg-white ">
            <div class="csi-section pt-0">
                <img src="../static/images/AJK-outfitters-casestudy-brandguide-2.jpeg" alt="" data-aos="fade-in"
                    data-aos-duration="1000">
            </div>
        </div>
    </section>
    <section>
        <div class="about-how-we-work about-cols csi-cols">
            <div class="about-cols__container container">
                <div class="about-cols__row">
                    <div class="about-col-left about-how-we-work__left">
                        <div class="container" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="h3">In their words</h3>
                        </div>
                    </div>
                    <div class="about-col-right about-how-we-work__right">
                        <div class="container" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="1000">
                            <div class="plaintext max-1075">
                                <p> Details matter. Val and her team have integrated with our business to help us
                                    effectively project who we are and what we do to our growing customer base. </p>
                                <p> The Banter team took time and care to understand what was important to us and the
                                    existing values of our business. They used this as a starting point to work with us
                                    through collaboration sessions, market research, and their industry expertise, to
                                    develop the new brand and material our business can be proud of today. </p>
                                <p> We treat the staff at Banter as an extension of our own, and have developed
                                    relationships with them that ensure our marketing experts are only ever a phone call
                                    away. We intend to be working alongside Val and her team of superstars well into the
                                    future and have already recommended their services to many. </p>
                            </div>
                            <div class="mt-30">
                                <strong> Matt Fountain </strong>
                            </div>
                            <div class="text-gray mt-5 font-16">
                                <p>Head of Commercial AJK Outfitters</p>
                            </div>
                            <div class="about-how-we-work__comma">
                                <img src="../static/images/comma-1.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="bg-white">
            <div class="csi-section">
                <div class="image-cols">
                    <div class="image-col image-col__1" data-aos="fade-in" data-aos-duration="1000">
                        <img src="../static/images/AJK-outfitters-casestudy-social-1.jpg" alt="">
                    </div>
                    <div class="image-col image-col__2" data-aos="fade-in" data-aos-duration="1000"
                        data-aos-delay="1000">
                        <img src="../static/images/AJK-outfitters-casestudy-social-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="image-section bg-white ">
            <div class="csi-section pt-0">
                <img src="../static/images/AJK-outfitters-casestudy-brandguide.jpeg" alt="" data-aos="fade-in"
                    data-aos-duration="1000">
            </div>
        </div>
    </section>
    <section>
        <div class="image-section bg-white ">
            <div class="csi-section pt-0">
                <img src="../static/images/AJK-outfitters-casestudy-brandguide-2.jpeg" alt="" data-aos="fade-in"
                    data-aos-duration="1000">
            </div>
        </div>
    </section>
    <section>
        <div class="see-case-studies">
            <div class="container">
                <h3 class="h3">See our case studies</h3>
                <div class="case-study__grid case-study__grid--dark mt-50">
                    <a href="./case-study-individual.html" class="case-study" data-aos="fade-up"
                        data-aos-duration="1000">
                        <div class="case-study__image">
                            <img src="../static/images/Laava-Casestudy-tile-2.jpeg" alt="Laava">
                        </div>
                        <h3 class="case-study__title h6">Laava</h3>
                        <div class="arrow-link">
                            <span> See what we did </span>
                            <svg class="sprite-icon">
                                <use xlink:href="img/svg/sprite.svg#long-arrow-right"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="./case-study-individual.html" class="case-study" data-aos="fade-up"
                        data-aos-duration="1000">
                        <div class="case-study__image">
                            <img src="../static/images/Pavilion-Cosmetic-Casestudy-tile-2.jpeg" alt="Pavilion">
                        </div>
                        <h3 class="case-study__title h6">Pavilion</h3>
                        <div class="arrow-link">
                            <span> See what we did </span>
                            <svg class="sprite-icon">
                                <use xlink:href="../static/images/svg/sprite.svg#long-arrow-right"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /Main Content -->

<!-- Custom Scripts -->
<!-- Swiper Slider -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".swiper-csi",
        {
            slidesPerView: 1,
            effect: 'fade',
            loop: true,
            autoplay:
            {
                delay: 5000,
                disableOnInteraction: true
            },
            fadeEffect:
            {
                crossFade: true
            },
            navigation:
            {
                nextEl: ".swiper-csi-next",
                prevEl: ".swiper-csi-prev"
            },
            pagination: false
        });

</script>
<script>
    const swiperCSwrappersSet = document.querySelectorAll('.js-swiper-case-study-wrap');
    swiperCSwrappersSet.forEach(wrapper => {
        const swiperEl = wrapper.querySelector('.swiper--case-study');
        const paginationEl = wrapper.querySelector('.swiper--case-study-pagination');
        const swiperCS = new Swiper(swiperEl,
            {
                slidesPerView: 1,
                effect: 'fade',
                loop: true,
                autoplay:
                {
                    delay: 3000,
                    disableOnInteraction: true
                },
                fadeEffect:
                {
                    crossFade: true
                },
                pagination:
                {
                    el: paginationEl,
                    clickable: true
                }
            });
    });

</script>
<script>
    const readMoreAreas = document.querySelectorAll(".js-read-more-area");
    const readMoreBtns = document.querySelectorAll(".js-read-more-btn");
    if (readMoreBtns) {
        readMoreBtns.forEach(readMoreBtn => {
            readMoreBtn.addEventListener('click', function (e) {
                let target = readMoreBtn.dataset.target;
                let readMoreArea = document.querySelectorAll(".js-read-more-area--" + target)[0];
                console.log(readMoreArea)
                console.log(".js-read-more-area--" + target)
                readMoreArea.classList.toggle("show-all-content");
                readMoreBtn.classList.toggle("text-less");
            });
        });
    }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script>
    // Wrap every letter in a span
    const animatedTexts = document.querySelectorAll('.js-anim');
    const observer = new IntersectionObserver(entries => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                entry.target.classList.add("animated");
                const letters = entry.target.querySelectorAll('.letter');
                anime.timeline(
                    {
                        loop: false
                    }).add(
                        {
                            targets: letters,
                            opacity: [
                                0, 1
                            ],
                            easing: "easeInOutQuad",
                            duration: 1250,
                            delay: (el, i) => 50 * (i + 1)
                        }).add(
                            {
                                targets: entry.target,
                                opacity: 1,
                                duration: 1000,
                                easing: "easeOutExpo",
                                delay: 500
                            });
                observer.unobserve(entry.target)
            }
        })
    },
        {
            rootMargin: "-100px"
        })
    if (animatedTexts) {
        animatedTexts.forEach((animatedText) => {
            animatedText.innerHTML = animatedText.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
            observer.observe(animatedText)
        });
    }

</script>
<!-- /Custom Scripts -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init(
        {
            once: true, // animation should happen only once - while scrolling down
            offset: 50 // offset (in px) from the original trigger point
        });

</script>
<!-- page loader -->
<script>
    const pageLoader = document.getElementById("pageLoader");
    pageLoader.classList.add("page-loaded")

</script>
{% endblock %}