{% extends "base.html" %}
{% block title%} Services {% endblock %}

{% block content %}
<!-- Main Content -->
<main class="main">
    <section>
        <div class="hero hero--color hero--dark">
            <div class="container">
                <h1 class="js-anim h2 hero__title">‘Spray and pray’ isn’t our style. Our social media activity is
                    planned, it’s strategic and it has purpose. </h1>
            </div>
        </div>
    </section>
    <section>
        <div class="bg-white service-detail">
            <div class="container">
                <div class="plaintext max-1200 font-32 mb-75" data-aos="fade-in" data-aos-duration="1000">
                    <p> In the same way you don't give the receptionist your annual tax returns, you also shouldn't hand
                        over your most consumer-facing channel to someone without experience. </p>
                    <p> Our social media team create posts, write copy, design, create photography, engage your audience
                        and manage social media accounts and create and measure all paid (sponsored) posts. </p>
                </div>
                <div class="section-cols-3">
                    <div class="section-cols-3__left mt-75">
                        <h3 class="h3 mb-30" data-aos="fade-up" data-aos-duration="1000"> We can help with </h3>
                    </div>
                    <div class="section-cols-3__right mt-75">
                        <div class="plaintext fw-600" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="500">
                            <ul>
                                <li>Creating social strategy</li>
                                <li>Creating social content plans</li>
                                <li>Sponsored Ads</li>
                                <li>Influencer Marketing</li>
                                <li>Social content creation and profile management</li>
                                <li>Community Engagement</li>
                                <li>Internal Team Training</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="services-person about-team border-bottom-separator">
            <div class="about-team__left about-col-left">
                <div class="about-team__left__b">
                    <h3 class="h3" data-aos="fade-up" data-aos-duration="1000">Industry leader</h3>
                    <div class="plaintext font-24 mt-20" data-aos="fade-up" data-aos-duration="1000"
                        data-aos-delay="750">
                        <p> Valentina Borbone, Banter Group CEO, is a leading expert in the social media industry. She
                            is an advisor for The International Social Media Association and runs training courses for
                            small and large businesses. Want one of the best in the business on your side? </p>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1500">
                        <a href="#" class="arrow-link hover-white">
                            <span> Get in touch </span>
                            <svg class="sprite-icon">
                                <use xlink:href="../static/images/svg/sprite.svg#long-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="about-team__image-wrapper about-col-right" data-aos="fade-in" data-aos-duration="3000"
                data-aos-delay="1000">
                <img src="../static/images/Val_Colour-wide-website.jpeg" alt="">
            </div>
        </div>
    </section>
    <section>
        <!-- Class 'bg-dark' is mandatory for such blocks -->
        <div class="about-how-we-work about-cols bg-dark">
            <div class="about-cols__container container">
                <div class="about-cols__row">
                    <div class="about-col-left about-how-we-work__left">
                        <div class="container" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="h3">Your site seen</h3>
                        </div>
                    </div>
                    <div class="about-col-right about-how-we-work__right">
                        <div class="container" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="1000">
                            <div class="plaintext max-1075">
                                <p>Technical SEO is essentially, the process of ensuring your website can be seen,
                                    crawled, and ranked by search engines. Search engines, such as Google, give
                                    preference to websites that meet their <a
                                        href="http://developers.google.com/search/docs/advanced/guidelines/webmaster-guidelines"
                                        target="_blank">webmaster guidelines</a>. The basic principles state your
                                    website content should be accurate, easy to access, and user-friendly.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Class 'bg-dark' is mandatory for such blocks -->
        <div class="about-how-we-work about-cols bg-dark">
            <div class="about-cols__container container">
                <div class="about-cols__row">
                    <div class="about-col-left about-how-we-work__left">
                        <div class="container" data-aos="fade-up" data-aos-duration="1000">
                            <h3 class="h3">We love social</h3>
                        </div>
                    </div>
                    <div class="about-col-right about-how-we-work__right">
                        <div class="container" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="1000">
                            <div class="plaintext max-1075">
                                <p> Are you asking yourself which social media platforms you should be using? What
                                    content is best for you? Wondering how you can build an engaged audience who turn
                                    into customers? Have you been ‘boosting’ posts without any return and wondering why?
                                </p>
                                <p> We know the answers because we live it, breathe it and love it. We’re good at it
                                    because we know how the algorithms work, we know when the algorithms change and we
                                    weave user behaviour into our recommendations. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="see-case-studies border-bottom-separator">
            <div class="container">
                <h3 class="h3">See our case studies</h3>
                <div class="case-study__grid case-study__grid--dark mt-50">
                    <a href="./case-study-individual.html" class="case-study" data-aos="fade-up"
                        data-aos-duration="1000">
                        <div class="case-study__image">
                            <img src="../static/images/AJK-outfitters-casestudy-tile.jpeg" alt="AJK Outfitters">
                        </div>
                        <h3 class="case-study__title h6">AJK Outfitters</h3>
                        <div class="arrow-link">
                            <span> See what we did </span>
                            <svg class="sprite-icon">
                                <use xlink:href="../static/images/svg/sprite.svg#long-arrow-right"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="./case-study-individual.html" class="case-study" data-aos="fade-up"
                        data-aos-duration="1000">
                        <div class="case-study__image">
                            <img src="../static/images/Laava-Casestudy-tile-2.jpeg" alt="Laava">
                        </div>
                        <h3 class="case-study__title h6">Laava</h3>
                        <div class="arrow-link">
                            <span> See what we did </span>
                            <svg class="sprite-icon">
                                <use xlink:href="../static/images/svg/sprite.svg#long-arrow-right"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /Main Content -->
{% endblock %}