{% extends 'base.html' %}
{% block title %}Teams {% endblock %}

{% block content %}
<!-- Main Content -->
<main class="main">
    <section>
        <div class="hero hero--color hero--black">
            <div class="container">
                <h1 class="js-anim h2 hero__title">We’re an experienced team of marketing and creative professionals
                </h1>
            </div>
        </div>
    </section>
    <section>
        <div class="team-grid">
            <div class="container">
                <div class="team-grid__list">
                    <div class="team-grid__member member member_type_clickable" data-aos="fade-in"
                        data-aos-duration="1000" data-aos-easing="ease-in-sine">
                        <a href="./team-bio.html" class="member__image">
                            <img src="../static/images/Val_Black_Resized.jpg" alt="">
                        </a>
                        <div class="member__desc">
                            <a href="./team-bio.html" class="member__top">
                                <h3 class="member__name">Valentina Borbone</h3>
                                <h4 class="member__position">Founder and CEO</h4>
                            </a>
                            <a href="https://linkedin.com/" target="_blank" class="member__linkedin">
                                <strong class="member__linkedin__text">Connect on LinkedIn</strong>
                                <span class="member__linkedin__icon">
                                    <svg class="sprite-icon">
                                        <use xlink:href="../static/images/svg/sprite.svg#linkedin"></use>
                                    </svg>
                                </span>
                            </a>
                            <a href="./team-bio.html" class="member__text plaintext">
                                <p>Valentina is a seasoned speaker and a digital marketing trainer and who started
                                    Banter Group.</p>
                                <p>Her hands-on experience in delivering marketing solutions with results, has found her
                                    sharing this expertise as a keynote, conference and event speaker covering all
                                    aspects of digital across multiple industries.</p>
                                <p>Valentina is a seasoned speaker and a digital marketing trainer and who started
                                    Banter Group.</p>
                                <p>Her hands-on experience in delivering marketing solutions with results, has found her
                                    sharing this expertise as a keynote, conference and event speaker covering all
                                    aspects of digital across multiple industries.</p>
                            </a>
                            <a href="./team-bio.html" class="arrow-link mt-15">
                                <span> More about Val </span>
                                <svg class="sprite-icon">
                                    <use xlink:href="img/svg/sprite.svg#long-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="team-grid__member member" data-aos="fade-in" data-aos-duration="1000"
                        data-aos-easing="ease-in-sine">
                        <div class="member__image">
                            <img src="../static/images/Fran_Black_Resized.jpg" alt="">
                        </div>
                        <div class="member__desc">
                            <div class="member__top">
                                <h3 class="member__name">Francesca Bozic</h3>
                                <h4 class="member__position">Creative Director</h4>
                            </div>
                            <a href="https://linkedin.com/" target="_blank" class="member__linkedin">
                                <strong class="member__linkedin__text">Connect on LinkedIn</strong>
                                <span class="member__linkedin__icon">
                                    <svg class="sprite-icon">
                                        <use xlink:href="../static/images/svg/sprite.svg#linkedin"></use>
                                    </svg>
                                </span>
                            </a>
                            <div class="member__text plaintext">
                                <p>Valentina is a seasoned speaker and a digital marketing trainer and who started
                                    Banter Group.</p>
                                <p>Her hands-on experience in delivering marketing solutions with results, has found her
                                    sharing this expertise as a keynote, conference and event speaker covering all
                                    aspects of digital across multiple industries. Lorem ipsum dolor sit amet
                                    consectetur adipisicing elit. Eos quasi enim nostrum nisi similique, non ipsa
                                    cupiditate ea eum, sit deserunt asperiores quidem provident molestiae, esse deleniti
                                    ratione nam quae!</p>
                            </div>
                        </div>
                    </div>
                    <div class="team-grid__member member member_type_clickable" data-aos="fade-in"
                        data-aos-duration="1000" data-aos-easing="ease-in-sine">
                        <a href="./team-bio.html" class="member__image">
                            <img src="../static/images/Amberley_Black_Resized.jpg" alt="">
                        </a>
                        <div class="member__desc">
                            <a href="./team-bio.html" class="member__top">
                                <h3 class="member__name">Amberley Guilly</h3>
                                <h4 class="member__position">Account Director</h4>
                            </a>
                            <a href="https://linkedin.com/" target="_blank" class="member__linkedin">
                                <strong class="member__linkedin__text">Connect on LinkedIn</strong>
                                <span class="member__linkedin__icon">
                                    <svg class="sprite-icon">
                                        <use xlink:href="../static/images/svg/sprite.svg#linkedin"></use>
                                    </svg>
                                </span>
                            </a>
                            <a href="./team-bio.html" class="member__text plaintext"> Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Eos quasi enim nostrum nisi similique, non ipsa cupiditate
                                ea eum, sit deserunt asperiores quidem provident molestiae, esse deleniti ratione nam
                                quae! </a>
                            <a href="./team-bio.html" class="arrow-link mt-15">
                                <span> More about Liz </span>
                                <svg class="sprite-icon">
                                    <use xlink:href="../staticimages/svg/sprite.svg#long-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="team-grid__member member member_type_clickable" data-aos="fade-in"
                        data-aos-duration="1000" data-aos-easing="ease-in-sine">
                        <a href="./team-bio.html" class="member__image">
                            <img src="../static/images/Nik-Love-Black-resized.jpg" alt="">
                        </a>
                        <div class="member__desc">
                            <a href="./team-bio.html" class="member__top">
                                <h3 class="member__name">Nik Love</h3>
                                <h4 class="member__position">Senior Web Producer</h4>
                            </a>
                            <a href="https://linkedin.com/" target="_blank" class="member__linkedin">
                                <strong class="member__linkedin__text">Connect on LinkedIn</strong>
                                <span class="member__linkedin__icon">
                                    <svg class="sprite-icon">
                                        <use xlink:href="../static/images/svg/sprite.svg#linkedin"></use>
                                    </svg>
                                </span>
                            </a>
                            <a href="./team-bio.html" class="member__text plaintext"> Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Eos quasi enim nostrum nisi similique, non ipsa cupiditate
                                ea eum, sit deserunt asperiores quidem provident molestiae, esse deleniti ratione nam
                                quae! </a>
                            <a href="./team-bio.html" class="arrow-link mt-15">
                                <span> More about Nik </span>
                                <svg class="sprite-icon">
                                    <use xlink:href="../static/images/svg/sprite.svg#long-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="team-grid__member member" data-aos="fade-in" data-aos-duration="1000"
                        data-aos-easing="ease-in-sine">
                        <div class="member__image">
                            <img src="../static/images/Talia_Black_Resized.jpg" alt="">
                        </div>
                        <div class="member__desc">
                            <div class="member__top">
                                <h3 class="member__name">Talia Stringer</h3>
                                <h4 class="member__position">Senior Producer</h4>
                            </div>
                            <a href="https://linkedin.com/" target="_blank" class="member__linkedin">
                                <strong class="member__linkedin__text">Connect on LinkedIn</strong>
                                <span class="member__linkedin__icon">
                                    <svg class="sprite-icon">
                                        <use xlink:href="../static/images/svg/sprite.svg#linkedin"></use>
                                    </svg>
                                </span>
                            </a>
                            <div class="member__text plaintext"> Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Eos quasi enim nostrum nisi similique, non ipsa cupiditate ea eum, sit deserunt
                                asperiores quidem provident molestiae, esse deleniti ratione nam quae! </div>
                        </div>
                    </div>
                    <div class="team-grid__member member" data-aos="fade-in" data-aos-duration="1000"
                        data-aos-easing="ease-in-sine">
                        <div class="member__image">
                            <img src="../static/images/Alana_Black-Resized.jpg" alt="">
                        </div>
                        <div class="member__desc">
                            <div class="member__top">
                                <h3 class="member__name">Alana Kaye</h3>
                                <h4 class="member__position">Social Media Manager</h4>
                            </div>
                            <a href="https://linkedin.com/" target="_blank" class="member__linkedin">
                                <strong class="member__linkedin__text">Connect on LinkedIn</strong>
                                <span class="member__linkedin__icon">
                                    <svg class="sprite-icon">
                                        <use xlink:href="../static/images/svg/sprite.svg#linkedin"></use>
                                    </svg>
                                </span>
                            </a>
                            <div class="member__text plaintext"> Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Eos quasi enim nostrum nisi similique, non ipsa cupiditate ea eum, sit deserunt
                                asperiores quidem provident molestiae, esse deleniti ratione nam quae! </div>
                        </div>
                    </div>
                    <div class="team-grid__member member member_type_clickable" data-aos="fade-in"
                        data-aos-duration="1000" data-aos-easing="ease-in-sine">
                        <a href="./team-bio.html" class="member__image">
                            <img src="../static/images/Jess_Black_Resized.jpg" alt="">
                        </a>
                        <div class="member__desc">
                            <a href="./team-bio.html" class="member__top">
                                <h3 class="member__name">Jess Ryan</h3>
                                <h4 class="member__position">Social Media Coordinator</h4>
                            </a>
                            <a href="https://linkedin.com/" target="_blank" class="member__linkedin">
                                <strong class="member__linkedin__text">Connect on LinkedIn</strong>
                                <span class="member__linkedin__icon">
                                    <svg class="sprite-icon">
                                        <use xlink:href="../static/images/svg/sprite.svg#linkedin"></use>
                                    </svg>
                                </span>
                            </a>
                            <a href="./team-bio.html" class="member__text plaintext"> Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Eos quasi enim nostrum nisi similique, non ipsa cupiditate
                                ea eum, sit deserunt asperiores quidem provident molestiae, esse deleniti ratione nam
                                quae! </a>
                            <a href="./team-bio.html" class="arrow-link mt-15">
                                <span> More about Jess </span>
                                <svg class="sprite-icon">
                                    <use xlink:href="../static/images/svg/sprite.svg#long-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="team-grid__member member member_type_clickable" data-aos="fade-in"
                        data-aos-duration="1000" data-aos-easing="ease-in-sine">
                        <a href="./team-bio.html" class="member__image">
                            <img src="../static/images/Jane_Black_Resized.jpg" alt="">
                        </a>
                        <div class="member__desc">
                            <a href="./team-bio.html" class="member__top">
                                <h3 class="member__name">Jane Aylen</h3>
                                <h4 class="member__position">Copywriter</h4>
                            </a>
                            <a href="https://linkedin.com/" target="_blank" class="member__linkedin">
                                <strong class="member__linkedin__text">Connect on LinkedIn</strong>
                                <span class="member__linkedin__icon">
                                    <svg class="sprite-icon">
                                        <use xlink:href="../static/images/svg/sprite.svg#linkedin"></use>
                                    </svg>
                                </span>
                            </a>
                            <a href="./team-bio.html" class="member__text plaintext"> Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Eos quasi enim nostrum nisi similique, non ipsa cupiditate
                                ea eum, sit deserunt asperiores quidem provident molestiae, esse deleniti ratione nam
                                quae! </a>
                            <a href="./team-bio.html" class="arrow-link mt-15">
                                <span> More about Jane </span>
                                <svg class="sprite-icon">
                                    <use xlink:href="../static/images/svg/sprite.svg#long-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="team-grid__member member member_type_clickable" data-aos="fade-in"
                        data-aos-duration="1000" data-aos-easing="ease-in-sine">
                        <a href="./team-bio.html" class="member__image">
                            <img src="../static/images/Montana_Black_Resized.jpg" alt="">
                        </a>
                        <div class="member__desc">
                            <a href="./team-bio.html" class="member__top">
                                <h3 class="member__name">Montana Soldati</h3>
                                <h4 class="member__position">Account Coordinator</h4>
                            </a>
                            <a href="https://linkedin.com/" target="_blank" class="member__linkedin">
                                <strong class="member__linkedin__text">Connect on LinkedIn</strong>
                                <span class="member__linkedin__icon">
                                    <svg class="sprite-icon">
                                        <use xlink:href="../static/images/svg/sprite.svg#linkedin"></use>
                                    </svg>
                                </span>
                            </a>
                            <a href="./team-bio.html" class="member__text plaintext"> Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Eos quasi enim nostrum nisi similique, non ipsa cupiditate
                                ea eum, sit deserunt asperiores quidem provident molestiae, esse deleniti ratione nam
                                quae! </a>
                            <a href="./team-bio.html" class="arrow-link mt-15">
                                <span> More about Mon </span>
                                <svg class="sprite-icon">
                                    <use xlink:href="../static/images/svg/sprite.svg#long-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="team-grid__member member" data-aos="fade-in" data-aos-duration="1000"
                        data-aos-easing="ease-in-sine">
                        <div class="member__image">
                            <img src="../static/images/Nell_Black_Resized.jpg" alt="">
                        </div>
                        <div class="member__desc">
                            <div class="member__top">
                                <h3 class="member__name">Nell Shephard</h3>
                                <h4 class="member__position">Office Manager</h4>
                            </div>
                            <a href="https://linkedin.com/" target="_blank" class="member__linkedin">
                                <strong class="member__linkedin__text">Connect on LinkedIn</strong>
                                <span class="member__linkedin__icon">
                                    <svg class="sprite-icon">
                                        <use xlink:href="../static/images/svg/sprite.svg#linkedin"></use>
                                    </svg>
                                </span>
                            </a>
                            <div class="member__text plaintext"> Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Eos quasi enim nostrum nisi similique, non ipsa cupiditate ea eum, sit deserunt
                                asperiores quidem provident molestiae, esse deleniti ratione nam quae! </div>
                        </div>
                    </div>
                    <div class="team-grid__member member member_type_clickable" data-aos="fade-in"
                        data-aos-duration="1000" data-aos-easing="ease-in-sine">
                        <a href="./team-bio.html" class="member__image">
                            <img src="../static/images/Tess_Black_Resized.jpg" alt="">
                        </a>
                        <div class="member__desc">
                            <a href="./team-bio.html" class="member__top">
                                <h3 class="member__name">Tess Ellis</h3>
                                <h4 class="member__position">Senior Designer</h4>
                            </a>
                            <a href="https://linkedin.com/" target="_blank" class="member__linkedin">
                                <strong class="member__linkedin__text">Connect on LinkedIn</strong>
                                <span class="member__linkedin__icon">
                                    <svg class="sprite-icon">
                                        <use xlink:href="../static/images/svg/sprite.svg#linkedin"></use>
                                    </svg>
                                </span>
                            </a>
                            <a href="./team-bio.html" class="member__text plaintext"> Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Eos quasi enim nostrum nisi similique, non ipsa cupiditate
                                ea eum, sit deserunt asperiores quidem provident molestiae, esse deleniti ratione nam
                                quae! </a>
                            <a href="./team-bio.html" class="arrow-link mt-15">
                                <span> More about Tess </span>
                                <svg class="sprite-icon">
                                    <use xlink:href="../static/images/svg/sprite.svg#long-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="team-grid__member member" data-aos="fade-in" data-aos-duration="1000"
                        data-aos-easing="ease-in-sine">
                        <div class="member__image">
                            <img src="../static/images/Sasha_Black_2_Resized.jpg" alt="">
                        </div>
                        <div class="member__desc">
                            <div class="member__top">
                                <h3 class="member__name">Sasha Lach Newinksy</h3>
                                <h4 class="member__position">Art Director</h4>
                            </div>
                            <a href="https://linkedin.com/" target="_blank" class="member__linkedin">
                                <strong class="member__linkedin__text">Connect on LinkedIn</strong>
                                <span class="member__linkedin__icon">
                                    <svg class="sprite-icon">
                                        <use xlink:href="../static/images/svg/sprite.svg#linkedin"></use>
                                    </svg>
                                </span>
                            </a>
                            <div class="member__text plaintext"> Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Eos quasi enim nostrum nisi similique, non ipsa cupiditate ea eum, sit deserunt
                                asperiores quidem provident molestiae, esse deleniti ratione nam quae! </div>
                        </div>
                    </div>
                    <div class="team-grid__member member member_type_clickable" data-aos="fade-in"
                        data-aos-duration="1000" data-aos-easing="ease-in-sine">
                        <a href="./team-bio.html" class="member__image">
                            <img src="../static/images/Jade_Black_Resized.jpg" alt="">
                        </a>
                        <div class="member__desc">
                            <a href="./team-bio.html" class="member__top">
                                <h3 class="member__name">Jade Bell</h3>
                                <h4 class="member__position">Marketing Coordinator</h4>
                            </a>
                            <a href="https://linkedin.com/" target="_blank" class="member__linkedin">
                                <strong class="member__linkedin__text">Connect on LinkedIn</strong>
                                <span class="member__linkedin__icon">
                                    <svg class="sprite-icon">
                                        <use xlink:href="../static/images/svg/sprite.svg#linkedin"></use>
                                    </svg>
                                </span>
                            </a>
                            <a href="./team-bio.html" class="member__text plaintext"> Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Eos quasi enim nostrum nisi similique, non ipsa cupiditate
                                ea eum, sit deserunt asperiores quidem provident molestiae, esse deleniti ratione nam
                                quae! </a>
                            <a href="./team-bio.html" class="arrow-link mt-15">
                                <span> More about Jade </span>
                                <svg class="sprite-icon">
                                    <use xlink:href="../static/images/svg/sprite.svg#long-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /Main Content -->
{% endblock %}