{% extends "base.html" %}
{% block title %} Terms and Condition {% endblock %}

{% block content %}
<main class="main">
    <section>
        <div class="hero hero--color hero--black">
            <div class="container">
                <h1 class="js-anim h2 hero__title">Terms and Conditions</h1>
            </div>
        </div>
    </section>
    <section>
        <div class="text-page bg-white">
            <div class="container">
                <div class="plaintext">
                    <h4>Velit accusamus illo non iure corporis</h4>
                    <p> Lorem ipsum dolor sit <a href="#">amet consectetur</a> adipisicing elit. Et, voluptatem hic?
                        <strong>Ad repellat</strong> minus quis distinctio quidem enim. Non mollitia maxime, quibusdam
                        ipsam labore error voluptas iusto placeat reprehenderit voluptate? </p>
                    <p>
                        <em>Vitae blanditiis</em> sequi provident esse quasi cumque! Numquam voluptate tenetur unde
                        magni necessitatibus alias aspernatur quibusdam nobis eum voluptas molestiae dicta, obcaecati ab
                        tempora dignissimos voluptates fugit earum doloribus delectus? Lorem ipsum dolor sit amet
                        consectetur, adipisicing elit. Quidem eius quaerat recusandae, quis veniam quod magnam soluta
                        debitis repudiandae rerum nihil deleniti est excepturi placeat harum, optio voluptatibus
                        suscipit enim?
                    </p>
                    <p> Cupiditate nobis voluptas cumque. Modi ab alias, quasi ratione porro obcaecati animi, sint vitae
                        nihil tenetur sit saepe consequuntur voluptatibus itaque veritatis explicabo corrupti aut ad
                        tempore. Itaque, illum rem! </p>
                    <h5>Iste deserunt impedit repellendus commodi</h5>
                    <p> Vitae ea earum at dolorum itaque, aspernatur sapiente recusandae necessitatibus exercitationem
                        qui ipsa cupiditate doloremque dolore atque veniam quibusdam error esse accusamus? Voluptatem
                        aspernatur quia, provident expedita nemo pariatur perspiciatis! </p>
                    <p> Nobis eius ipsum molestias nisi enim dignissimos, quam nemo et temporibus eligendi, id quaerat,
                        ipsa sequi laudantium perferendis animi quibusdam ea at eveniet beatae ipsam cum? Atque nulla
                        fugiat debitis! </p>
                    <p> Provident tenetur similique nemo aspernatur! Similique perferendis ipsa assumenda suscipit, vero
                        cum, quibusdam doloremque soluta beatae totam exercitationem labore voluptatem explicabo error
                        nostrum voluptas fuga quo placeat incidunt neque quod. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Sapiente officiis debitis deleniti voluptatem placeat totam beatae cumque
                        facere asperiores, reprehenderit nam voluptatum voluptate aperiam non culpa assumenda
                        consectetur, ducimus ipsa. </p>
                    <h6>Excepturi neque similique soluta</h6>
                    <p> Aliquam aliquid eligendi sapiente! Rerum similique veritatis veniam repudiandae minus suscipit.
                        Recusandae, accusantium nulla ullam atque quisquam sequi voluptates earum harum a dolores vitae
                        fugit, non consequuntur ex vero officiis? </p>
                    <p> Deleniti, asperiores obcaecati culpa, inventore dolorem praesentium tenetur, suscipit
                        consequatur iste nesciunt dolores vel? Ipsum ut provident eos error officiis similique iusto,
                        mollitia earum! Magni odit eligendi expedita officiis assumenda. </p>
                    <p> Alias veniam aliquam, explicabo atque animi suscipit nesciunt sed reiciendis iusto assumenda
                        optio doloremque, officiis dicta voluptate quae, cumque ipsam vero expedita unde blanditiis id?
                        Incidunt expedita rem voluptate nostrum. </p>
                    <p> Unde, quidem voluptatibus. Magni exercitationem quibusdam saepe ullam obcaecati soluta eum
                        repudiandae sequi, doloribus voluptatem nisi ipsum ea repellendus, corrupti, sapiente non
                        architecto dolores iste fuga. Rerum excepturi fuga voluptatum. </p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}